/*General Layout*/
* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: 14rem 1fr;
	font-family: 'Open Sans', sans-serif;
	cursor: auto;
	width: 100%;
	height: 100%;
}

button {
	cursor: pointer;
}

hr {
	border: none;
}

/*Sidebar*/
.sidebar {
	background-color: #374050;
	color: #A5B6C3;
	font-size: 0.85rem;
	font-weight: 700;
	padding: 0.25rem 0 1rem;
}

.sidebar-profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 2rem;
	font-size: 1rem;
	font-weight: 500;
}

.profile-img {
	width: 5.5rem;
	margin: 0 0 1rem 0;
	cursor: pointer;
	} 


.profile-name:hover {
	color: #FFFFFF;
	cursor: pointer;
}

.headshot {
	border-radius: 50%;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.headshot:hover {
	opacity: .5;
	} 







.side-nav {
/*padding: 0.25rem 0;*/
}

.sidebar-li {
	padding: 1rem 0 1rem 1.5rem;
	cursor: pointer;
	border-left: 3px solid #374050;
}

.sidebar-li:hover {
	color: #FFFFFF;
	background-color: #313948;
	border-left: 3px solid #4BA2F3;
}

.sidebar-checkbox {
	padding: 1rem 0 1rem 1.5rem;
	cursor: pointer;
	border-left: 3px solid #374050;	
}

.sidebar-checkbox:hover {
	color: #FFFFFF;
}

.sidebar-icon {
	font-size: 1rem;
 }

.side-bar-text {
	padding: 0 0 0 1rem;
}



h4 {
	color: #607A99;
	padding: 2rem 0 1rem 1.5rem;
	cursor: auto;
	border-left: 3px solid #374050;
}



.sidebar-break {
	background-color: #303747;
	color: #303747;
	height: 3px;
	/*padding: 0.5rem 0 0 0;*/
}


/*Sidebar Icons*/

.fa-check-square {
	color: #F8D649;
}

.fa-square-blue {
	color: #56ADF8;	
}

.fa-square-red {
	color: #D63663;	
}

.fa-square-green {
	color: #4BA78C;	
}




/*Main Content*/
.main-content {
	background-color: #EAF1F5;
}



/*Main Content Upper Section*/
/*Header Navigation*/
.header-search {
	display: grid;
	grid-template-columns: 5rem 1fr 5rem 5rem 5rem;
	background-color: #FFFFFF;
	border-bottom: 2px solid #EDF2F6;
	height: 5rem;
}

.header-search button {
	height: 5rem;
	background-color: #FFFFFF;	
	border-top: none;
	border-bottom: 2px solid #EDF2F6;
	border-left: none;
	border-right: 2px solid #EDF2F6;
}

.main-search {
	height: 5rem;
	border-bottom: 2px solid #EDF2F6;
	border-right: 2px solid #EDF2F6;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 0 0 1.5rem;
}

.search-input {
	height: 4rem;
	border: none;
	font-size: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 24rem;
	padding: 0 0 0 0.5rem;
}

.right-search-btn {
	border-right: none;
}


/*Main Content Middle Section*/

.summary {
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

.summary-left-contain {

}

.summary-right-contain {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 14.5rem;
}

.location {
	color: #9AA2AF;
	font-size: 0.75rem;
	font-weight: 500;
	cursor: pointer;
}

.location-text:hover {
	color: #51535F;
	font-weight: 600;
}


.preview-post {
	color: #4BA2F3;
}

.preview-post:hover {
	color: #51535F;
	font-weight: 600;
}


.summary-nav-contain {
	background-color: #FFFFFF;	
	padding: 0.5rem 1rem 0;
}

.block-grey {
	font-weight: 700;
	font-size: 0.85rem;
	color: #727D93;
}

.p-text-grey {
	font-weight: 500;
	font-size: 0.85rem;
	color: #727D93;
}

.summary-nav li {
	margin: 0 1rem;
	padding: 0 0 1rem;
	border-bottom: 3px solid #FFFFFF;
	cursor: pointer;
}

.summary-nav li:hover {
	color: #51535F;
	border-bottom: 3px solid #4BA2F3;
}

.summary-nav li {
	display: inline-block;
}

h1 {
	font-size: 1.5rem;
	color: #51535F;
	margin: 0 0 1rem 0;
}

.button-main {
	background-color: #FFFFFF;
	border: 2px solid #D8DEE4;
	padding: 0.7rem;
	font-weight: 700;
}

.button-main:hover {
	background-color: #4BA2F3;
	color: #FFFFFF;
	border: 2px solid #4BA2F3;
}

.button-main-text {
	color: #737C8B;
	border-radius: 4rem;
	padding: 0.7rem 1rem;
}

.button-main-icon {
	color: #9AA2AF;
	border-radius: 50%;
}

.graph-button {
	width: auto;
	margin: 0.75rem auto 0;
}

.round-search {
	height: 2.5rem;
	width: 2.5rem;
}

.graphs {
	display: grid;
	grid-template-columns: 1fr 1fr;	
	align-items: center;
	justify-items: center;
	margin: 2rem 3rem 3rem;
}

.chart {
	width: 26rem;
}

/*Circle Charts*/

.circle-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.circular-chart {
  display: inline-block;
  margin: 10px auto;
  max-width: 30%;
  max-height: 250px;
}

.circle {
  fill: none;
  stroke-width: 2.3;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.outline-circle {
  stroke: #DBE4EA;
  fill: none;
  stroke-width: 2.3;
  stroke-linecap: round;

}

.green-circle {
  stroke: #65B3BA;	
}

.blue-circle {
  stroke: #4BA2F3;	
}

.magenta-circle {
  stroke: #A46CAB;	
}



@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.chart-text {
 font: 16px/1.4rem 'Open Sans', sans-serif;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
  /*letter-spacing: -1px;*/
}
.chart-number {
  font-size: 0.5rem;
  font-weight: 600;
  fill: #51535F;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(0em);
}

.chart-label {
  font-size: 0.19rem;
  font-weight: 700;
 	fill: #727D93;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(2.5em);
}

/*Circle Chart End*/



.bar-graph {
	margin: 0 0 0 0;
}

/*Main Content Lower Section*/
.main-content-lower {
	display: grid;
	grid-template-columns: 1fr 23rem;
}

.main-break-contain {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 3rem;
}

.main-break {
	background-color: #D8DEE4;
	height: 2px;
}

.main-break-button {
	height: 2.25rem;
	width: 2.25rem;
	padding: 0.25rem;
	margin: 0 0.5rem;
}

.fa-angle-up {
	font-size: 0.75rem;	
/*	position: relative;
	bottom: 0.3rem;*/
}

.main-break-graph {
	width: 47%;
	margin: 0;
	/*background-color: #D8DEE4;*/
}

.main-break-social {
	width: 100%;
}

/*Table*/

.table {
	display: grid;
	grid-template-columns: 13rem 1fr;
	grid-template-rows: repeat(9, 1fr);
	background-color: #FFFFFF;
	height: 48.2rem;
	padding: 0;
	margin: 3rem 0 0 3rem;
	border-radius: 3px;
}
/*
.table-head-content {

}

.table-main-content {
/*	padding: 2rem;*/	
/*}
*/
.table-header {
	background-color:	#727D93;
	color: #FFFFFF;
	/*height: 3rem;*/
	font-weight: 700;
	font-size: 0.85rem;
}

.table-header-left {
	border-radius: 3px 0 0 0;
	padding: 0 0 0 2rem;
}

.table-header-right {
	border-radius: 0 3px 0 0;
}

.button-table-edit {
	color: #FFFFFF;
	font-size: 0.85rem;
	font-weight: 700;
	background-color: #7E8BA4;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 3px;
}

.button-table-edit:hover {
	background-color: #475164;	
}

.tbl-entry {
	display: flex;
	align-items: center;
	justify-content: flex-start;

}

.tbl-hd {
	margin: 0 0 0 2rem;
	border-bottom: 1px solid #D8DEE4;	
}

.tbl-content {
	margin: 0 2rem 0 0;
	border-bottom: 1px solid #D8DEE4;	
	line-height: 1.25rem;
}

.job-descrip {
	padding: 2rem 0;
	display: flex;
	align-items: flex-start;	
}

.hiring-lead {
	width: 2.5rem;
	margin: 0 0.75rem 0 0;
}

.salary {
	border: 0;
}

.salary-amt {
	font-size: 1rem;
}

/*Social*/

.social {
	width: 100%;
	padding: 0 3rem 3rem;
	margin: 3rem 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;;
}

.social-button {
	color: #FFFFFF;
	width: 100%;
	height: 3rem;
	margin: 0 0 1rem;
	border: none;
	border-radius: 3px;
	font-size: 0.85rem;
	display: flex;
	justify-content: flex-start;
	padding: 0 0 0 0;
}

.facebook {
	background-color: #536FBC;
}

.facebook:hover {
	background-color: #2b3c6d;
}

.twitter {
	background-color: #4BA8E9;
}

.twitter:hover {
	background-color: #156ca9;
}

.linkedin {
	background-color: #377DB7;
}

.linkedin:hover {
	background-color: #1c3f5c;
}

h2 {
	font-weight: 600;
	color: #556072;
	margin: 1.25rem 0 1rem;

}

.social-text {
	font-size: 0.75rem;
	color: #9AA2AF;
	margin: 0.5rem 0;
	line-height: 1.25rem;
}

.social-tags-contain {
	width: 100%;
	height: 2.5rem;
	border: none;
	border-radius: 3px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	margin: 1rem 0 1.5rem;
}

.social-tags {
	width: 80%;
	font-size: 0.75rem;
	height: 2.5rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	padding: 0.85rem 0 0 1rem;
	color: #727D93;
	font-weight: 600;
}

.upload-resume {
	width: 100%;
}

.copy-button {
	background-color: #68B8BF;
	width: 20%;
	height: 2.5rem;
	border: none;
	border-radius: 3px;
	color: #FFFFFF;
	/*display: none;*/
}

.copy-button:hover {
	background-color: #34767C;	
}


/*Main Content Icons*/
.sidebar-show-hide {
	color: #7D8593;
	font-size: 1.25rem;
}

.caret-blue {
	height: 0.65rem;
}

.fa-caret-left {
	color: #4BA2F3;
}

.sidebar-show-hide:hover {
	background-color: #f39c4b;
	color: #FFFFFF;
	border: 2px solid #f39c4b;
}

.fa-search {
	color: #9AA2AF;
	font-size: 1.25rem;
}

.fa-map-marker-alt {
	margin: 0 0.35rem 0 0.25rem;
}


.search-icons {
	color: #9AA2AF;
	font-size: 1.25rem;
}

.search-icons:hover {
	background-color: #4BA2F3;
	color: #FFFFFF;
	border: 2px solid #4BA2F3;
}

.circle-small {
	color: #9AA2AF;
	font-size: 3px;
	position: relative;
	bottom: 3px;
	padding: 0 0.25rem;
}

.circle-large {
	color: #99C454;
	padding: 0 0.25rem 0 0;
}

.fa-pencil-alt {
	margin: 0 0.35rem 0 0;
}

/*Social Icons*/
.social-header-icons {
	padding: 0 0.5rem 0 0;
}

.fab {
	font-size: 1.25rem;
	padding: 0 2.75rem 0 2rem;
}


/*Media Queries*/

@media screen and (max-width: 830px) {

body {
	grid-template-columns: 1fr;
}

.sidebar {
	display: none;
}


}
