/*Universal Layout*/
* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: 14rem 1fr;
	font-family: 'Open Sans', sans-serif;
	cursor: auto;
	width: 100%;
	height: 100%;
}

button {
	cursor: pointer;
}

hr {
	border: none;
}

/*Sidebar*/

.sidebar {
	background-color: #374050;
	color: #A5B6C3;
	font-size: 0.85rem;
	font-weight: 700;
	padding: 0.25rem 0 1rem;
}

.sidebar-profile {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	font-weight: 500;
	justify-content: space-between;
	padding: 2rem;
}

.profile-img {
	cursor: pointer;
	margin: 0 0 1rem 0;
	width: 5.5rem;
	} 

.profile-name:hover {
	color: #FFFFFF;
	cursor: pointer;
}

.headshot {
	border-radius: 50%;
	cursor: pointer;
	opacity: 1;
	transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
}

.headshot:hover {
	opacity: .5;
} 

.sidebar-li {
	border-left: 3px solid #374050;
	cursor: pointer;
	padding: 1rem 0 1rem 1.5rem;
}

.sidebar-li:hover {
	background-color: #313948;
	border-left: 3px solid #4BA2F3;
	color: #FFFFFF;
}

.sidebar-checkbox {
	border-left: 3px solid #374050;	
	cursor: pointer;
	padding: 1rem 0 1rem 1.5rem;
}

.sidebar-checkbox:hover {
	color: #FFFFFF;
}

.sidebar-icon {
	font-size: 1rem;
 }

.side-bar-text {
	padding: 0 0 0 1rem;
}

h4 {
	border-left: 3px solid #374050;
	color: #607A99;
	cursor: auto;
	padding: 2rem 0 1rem 1.5rem;
}

.sidebar-break {
	color: #303747;
	background-color: #303747;
	height: 3px;
}


/*Sidebar Icons*/

.fa-caret-down {
	padding: 0 0 0 0.5rem;
}

.li-home {
	padding: 0 0 0 0.65rem;
}

.li-jobs {
	padding: 0 0 0 0.75rem;
}

.li-calendar {
	padding: 0 0 0 0.85rem;	
}

.li-users {
	padding: 0 0 0 0.6rem;	
}

.li-locations {
	padding: 0 0 0 1.1rem;
}

.li-social {
	padding: 0 0 0 0.65rem;
}

.fa-check-square {
	color: #F8D649;
}

.fa-square-blue {
	color: #56ADF8;	
}

.fa-square-red {
	color: #D63663;	
}

.fa-square-green {
	color: #4BA78C;	
}



/*Main Content*/
.main-content {
	background-color: #EAF1F5;
}



/*Search Bar*/

.header-search {
	background-color: #FFFFFF;
	border-bottom: 2px solid #EDF2F6;
	display: grid;
	height: 5rem;
	grid-template-columns: 5rem 1fr 5rem 5rem 5rem;
}

.search-button {
	background-color: #FFFFFF;	
	border-bottom: 2px solid #EDF2F6;
	border-left: none;
	border-right: 2px solid #EDF2F6;
	border-top: none;
	height: 5rem;
}

.main-search {
	align-items: center;
	border-bottom: 2px solid #EDF2F6;
	border-right: 2px solid #EDF2F6;
	display: flex;
	height: 5rem;
	justify-content: flex-start;
	padding: 0 0 0 1.5rem;
}

.search-input {
	border: none;
	font-size: 1rem;
	height: 4rem;
	overflow: hidden;
	padding: 0 0 0 0.5rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 24rem;
}

.right-search-btn {
	background-color: #FFFFFF;	
	border-bottom: 2px solid #EDF2F6;
	border-left: none;
	border-right: none;
	border-top: none;
	height: 5rem;
}


/*Header Nav*/

.header {
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

.header-right-contain {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	width: 14.5rem;
}

.location {
	color: #9AA2AF;
	cursor: pointer;
	font-size: 0.75rem;
	font-weight: 500;
}

.location-text {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.location-text:hover {
	color: #51535F;
	font-weight: 600;
}

.preview-post {
	color: #4BA2F3;
}

.preview-post:hover {
	color: #51535F;
	font-weight: 600;
}

.header-nav-contain {
	background-color: #FFFFFF;	
	padding: 0.5rem 1rem 0;
}

.block-grey {
	color: #727D93;
	font-size: 0.85rem;
	font-weight: 700;
}

.p-text-grey {
	color: #727D93;
	font-size: 0.85rem;
	font-weight: 500;
}

.header-nav li {
	border-bottom: 3px solid #FFFFFF;
	cursor: pointer;
	display: inline-block;
	margin: 0 1rem;
	padding: 0 0 1rem;
}

.header-nav li:hover {
	border-bottom: 3px solid #4BA2F3;
	color: #51535F;
}

h1 {
	color: #51535F;
	font-size: 1.5rem;
	margin: 0 0 1rem 0;
}

.button-main {
	background-color: #FFFFFF;
	border: 2px solid #D8DEE4;
	font-weight: 700;
	padding: 0.7rem;
}

.button-main:hover {
	background-color: #4BA2F3;
	border: 2px solid #4BA2F3;
	color: #FFFFFF;
}

.button-main-text {
	color: #737C8B;
	border-radius: 4rem;
	padding: 0.7rem 1rem;
}

.button-main-icon {
	border-radius: 50%;
	color: #9AA2AF;
}



/*Graphs*/

.graph-button {
	margin: 0.75rem auto 0;
	width: auto;
}

.round-search {
	height: 2.5rem;
	width: 2.5rem;
}

.graphs {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr;	
	justify-items: center;
	margin: 2rem 3rem 3rem;
}

.chart {
	width: 20rem;
}

/*Circle Charts*/

.circle-wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.circular-chart {
  display: inline-block;
  margin: 10px auto;
  max-width: 88%;
  max-height: 250px;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-width: 2.3;
  stroke-linecap: round;
}

.outline-circle {
  fill: none;
  stroke: #DBE4EA;
  stroke-linecap: round;
  stroke-width: 2.3;
}

.green-circle {
  stroke: #65B3BA;	
}

.blue-circle {
  stroke: #4BA2F3;	
}

.magenta-circle {
  stroke: #A46CAB;	
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.chart-text {
 	font: 16px/1.4rem 'Open Sans', sans-serif;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.5rem;
  font-weight: 600;
  fill: #51535F;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(0em);
}

.chart-label {
  font-size: 0.19rem;
  font-weight: 700;
 	fill: #727D93;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(2.5em);
}


/*Bar Graph*/

.bar-graph {
	margin: 0 0 0 0;
	width: 25rem;
}


/*Main Page Break*/

.main-content-lower {
	display: grid;
	grid-template-columns: 1fr 23rem;
}

.main-break-contain {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 3rem;
}

.main-break {
	background-color: #D8DEE4;
	height: 2px;
}

.main-break-button {
	height: 2.25rem;
	margin: 0 0.5rem;
	padding: 0.25rem;
	width: 2.25rem;
}

.fa-angle-up {
	font-size: 0.75rem;	
}

.main-break-graph {
	width: 48%;
	margin: 0;
}

.main-break-social {
	width: 100%;
}


/*Table*/

.table {
	border-radius: 3px;
	background-color: #FFFFFF;
	margin: 3rem 0 2rem 3rem;
	padding: 0;
}

.table-header {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 4rem;
	background-color:	#727D93;
	color: #FFFFFF;
	font-size: 0.85rem;
	font-weight: 700;
	border-radius: 3px 3px 0 0;
	padding: 0 0 0 2rem;
}

.table-data {
	height: 45.2rem;
	display: grid;
	grid-template-columns: 13rem 1fr;
	grid-template-rows: repeat(8, 1fr);
}

.fa-pencil-alt {
	padding: 0 0.35rem 0 0;
}

.button-table-edit {
	background-color: #7E8BA4;
	border: none;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 0.85rem;
	font-weight: 700;
  margin: 0 0 0 3.5rem;
	padding: 0.5rem 1rem;
	width: 6rem;
}

.button-table-edit:hover {
	background-color: #475164;	
}

.tbl-entry {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.tbl-hd {
	border-bottom: 1px solid #D8DEE4;	
	margin: 0 0 0 2rem;
}

.tbl-content {
	border-bottom: 1px solid #D8DEE4;	
	line-height: 1.25rem;
	margin: 0 2rem 0 0;
}

.job-descrip {
	align-items: flex-start;	
	display: flex;
	padding: 2rem 0;
}

.hiring-lead {
	margin: 0 0.75rem 0 0;
	width: 2.5rem;
}

.salary {
	border: 0;
}

.salary-amt {
	font-size: 1rem;
}



/*Social*/

.social {
	display: flex;
	flex-direction: column;
	justify-content: space-between;;
	margin: 3rem 0 2rem 0;
	padding: 0 3rem 0;
	width: 100%;
}

.social-button {
	border: none;
	border-radius: 3px;
	color: #FFFFFF;
	display: flex;
	font-size: 0.85rem;
	height: 3rem;
	justify-content: flex-start;
	margin: 0 0 1rem;
	padding: 0 0 0 0;
	width: 100%;
}

.social-btn-dark {
	background-color: #536FBC;
}

.social-btn-dark:hover {
	background-color: #2b3c6d;
}

.social-btn-light {
	background-color: #4BA8E9;
}

.social-btn-light:hover {
	background-color: #156ca9;
}

.social-btn-med {
	background-color: #377DB7;
}

.social-btn-med:hover {
	background-color: #1c3f5c;
}

h2 {
	color: #556072;
	font-weight: 600;
	margin: 1.25rem 0 1rem;
}

.social-text {
	color: #9AA2AF;
	font-size: 0.75rem;
	line-height: 1.25rem;
	margin: 0.5rem 0;
}

.social-tags-contain {
	align-items: center;
	background-color: #FFFFFF;
	border: none;
	border-radius: 3px;
	display: flex;
	height: 2.5rem;
	margin: 1rem 0 1.5rem;
	width: 100%;
}

.social-tags {
	color: #727D93;
	display: block;
	font-size: 0.75rem;
	font-weight: 600;
	height: 2.5rem;
	overflow: hidden;
	padding: 0.85rem 0 0 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
}

.upload-resume {
	width: 100%;
	margin: 1rem 0 0;
}

.copy-button {
  align-items: center;
	background-color: #68B8BF;
	border: none;
	border-radius: 0 3px 3px 0;
	color: #FFFFFF;
	display: flex;
	height: 2.5rem;
  justify-content: center;
	width: 20%;
}

.copy-button:hover {
	background-color: #34767C;	
}



/*Main Content Icons*/

.sidebar-show-hide {
	color: #7D8593;
	font-size: 1.25rem;
}

.caret-blue {
	height: 0.65rem;
}

.fa-caret-left {
	color: #4BA2F3;
}

.sidebar-show-hide:hover {
	background-color: #f39c4b;
	border: 2px solid #f39c4b;
	color: #FFFFFF;
}

.fa-search {
	color: #9AA2AF;
	font-size: 1.25rem;
}

.fa-map-marker {
	margin: 0 0.35rem 0 0.25rem;
}

.search-icons {
	color: #9AA2AF;
	font-size: 1.25rem;
}

.search-icons:hover {
	background-color: #4BA2F3;
	border: 2px solid #4BA2F3;
	color: #FFFFFF;
}

.circle-small {
	bottom: 3px;
	color: #9AA2AF;
	font-size: 3px;
	padding: 0 0.25rem;
	position: relative;
}

.circle-large {
	color: #99C454;
	padding: 0 0.25rem 0 0;
}



/*Social Icons*/

.social-header-icons {
	padding: 0 0.5rem 0 0;
}

.fab {
	font-size: 1.25rem;
	padding: 0 2.75rem 0 2rem;
}




/*Media Queries*/

@media screen and (min-width: 1600px) {

	.bar-graph {
		width: 32rem;
	}

}


@media screen and (max-width: 1070px) {

	.bar-graph {
		width: 22rem;
	}

}


@media screen and (max-width: 1062px) {

	.header-nav li {
		margin: 0 0.5rem;
		padding: 0 0 1rem;
	}

	.graphs {
		margin: 1rem 5rem;		
	}

	.main-content-lower {
	  grid-template-columns: 1fr;
	}

	.main-break-contain {
		margin: 0 5rem;
	}

	.table {
		height: 39.2rem;
		margin: 3rem 5rem 0 5rem;
	}

	.table-data {
		height: 35.2rem;
	}


/*SOCIAL GRID TEMPLATE AREAS-START*/


	.social {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: repeat(3, 16rem);
	  padding: 0;
	  margin: 4rem 5rem;
	  width: 90vw;
	  justify-items: center;

	  grid-template-areas:
		"facebook twitter linkedin"
		"linkwrap-one linkwrap-two linkwrap-three";

	}

	.social-btn-dark {
		grid-area: facebook;
	}


	.social-btn-light {
		grid-area: twitter;		
	}

	.social-btn-med {
		grid-area: linkedin;		
	}

	.link-wrap1 {
		grid-area: linkwrap-one;		
	}

	.link-wrap2 {
		grid-area: linkwrap-two;		
	}

	.link-wrap3 {
		grid-area: linkwrap-three;		
	}


	.social-button {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.link-wrap {
		width: 100%;
		text-align: center;
		padding: 0 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	h2 {
		margin: 1.25rem 0 1rem;
	}

	.main-break-social {
		display: none;
	}

	.fab {
		padding: 0 0.5rem 0 0;
	}


/*SOCIAL GRID TEMPLATE AREAS-END*/



}


@media screen and (max-width: 930px) {

	body {
		grid-template-columns: 1fr;
	}

	.sidebar {
		display: none;
	}

	.header-nav {
		display: flex;
		justify-content: center;
	}

	.social {
		grid-template-columns: repeat(3, 15rem);
	}

}


@media screen and (max-width: 885px) {

	.social {
		grid-template-columns: repeat(3, 14rem);
	}

}


@media screen and (max-width: 825px) {

	h2 {
		font-size: 0.85rem;
	}

}


@media screen and (max-width: 800px) {

	.main-content {
		width: 100vw;
	}

	.header-search {
		grid-template-areas: 
		"sidebar new calendar menu"
		"search search search search";
		grid-template-columns: repeat(4, 1fr);
		height: 10rem;
		width: 100vw;
	}

	.sidebar-show-hide {
		grid-area: sidebar;
	}

	.main-search {
		grid-area: search;
		border-right: none;
	}

	.search-user {
		grid-area: new;
	}

	.search-calendar {
		grid-area: calendar;
	}

	.search-menu {
		grid-area: menu;
	}

	.header {
		align-items: center;
		flex-direction: column;
		width: 100vw;
	}

	.header-left-contain {
		margin: 0 0 2rem 0;
		text-align: center;
	}

	h1 {   
		font-size: 2rem;
	  line-height: 1.25;
	}

	.location {
		font-size: 1rem;
	}

	.header-right-contain {
		width: 18.5rem;
	}

	.round-search {
	  height: 3.5rem;
	  width: 3.5rem;
	}

	.button-main-text {
	  height: 3.5rem;
	 }

	.header-nav-contain {
		width: 100vw;		
	}

	.header-nav {
		flex-wrap: wrap;
	}

	.header-nav li {
		margin: 0 1rem 0.75rem;
		font-size: 1.15rem;
	}

	.graphs {
		grid-template-areas:
			"circles"
			"totals"
			"bars"
			"applicants";
		grid-template-columns: 1fr;
		margin: 2rem 5rem 1.5rem;
	}

	.circle-wrap {
		grid-area: circles;
	}

	.btn-totals {
		grid-area: totals;
	}

	.bar-graph {
		grid-area: bars;
		width: 30rem;
	}

	.btn-applicants {
		grid-area: applicants;
	}

	.circular-chart {
		max-width: 75%;
	}

	.graph-button {
		margin: 1rem auto 1.5rem;
	}

	.main-content-lower {
	  width: 100vw;
	}

	.table {
		margin: 3rem auto 0;
		width: 90vw;		
	}

	.social {
		grid-template-columns: repeat(3, 13rem);
		margin: 4rem auto;
		width: 90vw;		
	}

}



@media screen and (max-width: 750px) {

	.copy-button {
		font-size: 0.65rem;
	}

	.social {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 4.5rem auto 0;
		padding: 0 2rem 3rem;
	}

	.social-button {
		display: flex;
		justify-content: center;
		margin: 0 0 1.25rem;
		padding: 0 0 0 0;
		width: 75%;
	}

	.link-wrap {
		margin: 0;
		padding: 0;
		width: 75%;
	}

	h2 {
		margin: 1rem 0 0.5rem;
	}

	.main-break-social {
		display: ;
		width: 100%;
	}

	.fab {
	  padding: 0 0.75rem 0 0;
	}

	.social-btn-med {
		margin: 0 0 2.25rem;
	}

	.copy-button {
		font-size: 0.75rem;
	}



}


@media screen and (max-width: 685px) {

	.tbs-entry {
		padding: 0.5rem 0 0.25rem;
	}

}


@media screen and (max-width: 620px) {

	.graphs {
		margin: 2rem 1rem 1rem;
	}

	.circle-wrap {
		display: flex;
		flex-direction: column;
	}

	.circular-chart {
		max-width: 45%;
	}

	.graph-button {
		margin: 2s.25rem auto 1.75rem;
	}

	.bar-graph {
	  width: 100%;
	  margin: 0.75rem 0 0;		
	}

	.main-break-contain {
		margin: 0 2rem;
	}
	
	.main-break-graph {
		width: 44%;
	}

	.main-break-button {
	  height: 3.25rem;
	  width: 3.25rem;
	}

	.main-content-lower {
		grid-template-columns: 1fr;
	}

	.table {
		height: 45.5rem;
		margin: 2rem auto;
	}

	.table-data {
		display: grid;
		grid-template-columns: 1fr;
	}	

	.tbl-entry {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		padding: 0.25rem 0 0.5rem;
		margin: 0.25rem 2rem 0 2rem;
	}

	.tbl-hd {
		border-bottom: none;	
	}

	.table-header {
		display: flex;
		justify-content: space-between;
		border-radius: 3px 3px 0 0;
		padding: 0 0 0 2rem;
		margin: 0 0 0.5rem 0;
	}

	.job-descrip {
		padding: 0.5rem 0 0.75rem;
	}

	.hiring-lead {
		display: block;
	  padding: 0 0 0.25rem 0;
	}

	.button-table-edit {
		margin: 0 2rem 0 0;	
	}


}


@media screen and (max-width: 534px) {
	
	.table {
		height: 46.5rem;
	}

}


@media screen and (max-width: 450px) {

	.main-break-contain {
		margin: 0 1rem;
	}
	
	.social {
		padding: 0 1rem 1rem;
		margin: 1.5rem 1rem;				
	}	

	.table {
		height: 47.5rem;
	}

}


@media screen and (max-width: 405px) {
	.table {
		height: 48.5rem;
	}

}


@media screen and (max-width: 391px) {

	.table {
		height: 47.5rem;
	}

	.table-header {
		padding: 0 0 0 1rem;
	}

	.button-table-edit {
		margin: 0 1rem 0 0;
	}

	.tbl-entry {
		margin: 0.25rem 1rem 0 1rem;
	}

}


@media screen and (max-width: 369px) {

	.table {
		height: 48.5rem;
	}

	.copy-button {
		font-size: 0.65rem;
	}

}


@media screen and (max-width: 331px) {

	h1 {
		font-size: 1.85rem;
		line-height: 1.35;
	}

	.table {
		height: 50rem;
	}

}